.navbar-container {
    display: flex;
    position:fixed;
    margin: 0;
    padding: 0;
    height: 70px;
    width: 100%;
    background-color: var(--blueclr);
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.navbar-details { 
    width: 30%;
    color: var(--whiteclr);
    margin: 0px auto;
}
.site-title {
    font-size: 30px;
    letter-spacing: .1em;
    font-weight: bold;
    font-family: 'Lucida Handwriting';
    color: var(--yellowclr);
}
.menu-buttons {
    width: 50%;
    color: var(--whiteclr);
    float: right;
}
.menu-buttons ul { 
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.menu-item:active{
    transform: scale(1);
}
li .menu-item-name {
    color: var(--whiteclr);
    margin: 5px auto;
    padding: 3px;    
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
ul li:hover {
    transform: scale(1.1);
    transition: .1s;
}
#about-me {
    color: var(--yellowclr);
    font-weight: bold;
}
.menubar_button {
    display: none;
}

@media screen and (max-width: 1010px) {
    .site-title{
        font-size: 28px;
    }
    .menu-buttons {
        width: 55%;
    }
}
@media screen and (max-width: 810px) {
    .site-title{
        font-size: 27px;
    }
    li .menu-item-name{
        font-size: 13px;
    }
}
@media screen and (max-width: 710px) {
    .site-title{
        font-size: 26px;
    }
    .menu-buttons {
        width: 55%;
    }
    li .menu-item-name{
        font-size: 12px;
    }
}
@media screen and (max-width: 600px) {
    .navbar-container {
        height: 60px
    }
    .site-title{
        font-size: 26px;
    }
    .menu-buttons {
        width: 60%;
    }
    li .menu-item-name{
        font-size: 11px;
    }
}
@media screen and (max-width: 510px) {
    .navbar-container {
        height: fit-content;
        padding: 10px 0;
    }
    .site-title {
        padding-left: 25px;
        font-size: 18px;
    }
    .navbar-details {
        width: 0%;
    }
    .menu-buttons {
        width: 100%;
        float:left;
        margin: auto;
    }
    .menubar_button {
        display: block!important;
        float: right;
        background-color: var(--blueclr);
        color: var(--whiteclr);
        padding: 6px 7px;
        border-radius: 5px;
        margin: 5px 12px;
        cursor: pointer;
        position: relative;
        z-index: 10037;
    }
    .menubar_button:hover {
        transform: scale(1.2);
    }
    .menuq1{  
        visibility: hidden;
    }
    .menuq2{  
        display: flex;
        visibility: visible;
        flex-direction: column;
        padding-left: 150px;
        align-items: baseline;

    }
    .menuq2 li{
        padding: 5px;
    }
    .menu-item-name{
        padding: 20px;
        font-size: 11px;
    }
}